.articles-hero-section{
        padding: 80px 0;
}
.articles-hero-section .intro h1{
       font-size: 56px;
       font-family: "DM Sans";
       width: 900px;
       text-align: center;
       margin: auto;
}

.article-first-wrapper{
       display: grid;
       grid-template-columns: 1.3fr 1fr;
       gap: 50px;
       margin-top: 50px;
}

.article-image img{
       max-height: 420px;
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
}
.article-description{
       display: flex;
       align-items: center;
}
.article-description .date h3{
       font-size: 18px;
       font-weight: 500;
}
.article-description:hover h1{
        color: var(--main-color);
}
.article-description h1{
        font-size: 45px;
        margin: 15px 0;
        transition: all 0.5 ease;
        -webkit-transition: all 0.5 ease;
        -moz-transition: all 0.5 ease;
        -ms-transition: all 0.5 ease;
        -o-transition: all 0.5 ease;
}
.article-description p{
      font-size: 18px;
      line-height: 28px;
      width: 90%;
}
.article-description a,
.single-article-moja a,
.article-moja a{
      font-weight: 500;
      margin-top: 20px;
      display: flex;
      align-items: center;
      gap: 5px;
      color: #222;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
}
.article-description a:hover,
.single-article-moja a:hover,
.article-moja a:hover{
       color: var(--main-color);
}
.article-description a span,
.single-article-moja a span,
.article-moja span{
        display: flex;
}

.articles-body-section{
    padding-bottom: 100px;
}
.articles-body-content h3{
       font-size: 24px;
       font-weight: 500;
       margin-bottom: 20px;
       position: relative;
       padding-bottom: 10px;
}
.articles-body-content h3::after{
       content: "";
       width: 50px;
       height: 2px;
       background: var(--main-color);
       position: absolute;
       bottom: 0;
       left: 0;
}
.articles-body-row{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       margin-top: 40px;
       gap: 30px;
}
.single-article-moja img{
      max-height: 300px;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
}
.single-article-moja h4{
      font-weight: 500;
      font-size: 16px;
      margin: 10px 0;;
}
.single-article-moja h2{
      font-size: 28px;
}
.single-article-moja p{
       font-size: 16px;
       margin: 10px 0;
       line-height: 1.4;
}

.single-article-moja a{
    font-weight: 500;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #222;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

/* Single Article page */
.single-article-body{
        padding: 60px 0 100px 0;
}

.single-article-content .back-btn{
       display: inline-flex;
       gap: 5px;
       align-items: center;
       color: var(--main-color); 
       padding-bottom: 5px;
       border-bottom: 2px solid var(--main-color);
}
.single-article-content .blog-title{
        font-size: 55px;
        margin: 20px 0;
        width: 90%;
}
.single-article-content .main-image img{
       max-height: 800px;
}

.single-article-body-section{
       display: grid;
       grid-template-columns:300px 3fr;
       gap: 70px;;
}
.single-article-body-section .author-side{
        display: flex;
        gap: 20px;
        align-items: center;
        height: max-content;
}
.author-side .author-profile-image img{
        width: 65px;
        height: 65px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
.author-side h4{
        font-weight: 500;
        font-size: 20px;
}
.author-side p{
       font-size: 15px;
       margin: 5px 0;
       color: rgb(94, 94, 94);
}
.single-article-body-section{
       margin-top: 50px;
}

.article-body p{
       font-size: 18px;
       line-height: 30px;
       margin-bottom: 20px;
}









@media(max-width: 1090px){
        .articles-hero-section .intro h1{
                width: 100%;
        }
       .article-first-wrapper{
             grid-template-columns: 1fr;
       }
       .articles-body-row{
              grid-template-columns: 1fr 1fr;
       }
}

@media(max-width: 768px){
    .articles-hero-section .intro h1{
            font-size: 45px;
    }
       .articles-body-row{
              grid-template-columns: 1fr;
       }

       .article-description h1{
             font-size: 40px
       }
}