.hero-section{
       padding: 80px 0;
}
.hero-section-content .hero-texts{
        display: grid;
        grid-template-columns: 2fr 0.8fr;
        gap: 50px;
        align-items: center;
}
.hero-texts h1{
       font-size: 60px;
       font-family: "DM Sans";
}
.hero-texts h1 span{
      color: var(--secondary-color);
}
.hero-texts p{
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 20px;
}
.hero-texts a{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 180px;
      height: 50px;
      font-size: 16px;
      border: 2px solid var(--main-color);
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      transition: all 0.7s ease;
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -ms-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
}
.hero-texts a:hover{
       color: var(--main-color);
       transform: scale(0.95);
       -webkit-transform: scale(0.95);
       -moz-transform: scale(0.95);
       -ms-transform: scale(0.95);
       -o-transform: scale(0.95);
}

.hero-image{
       height: 85vh;
       margin-top: 30px;
       border-radius: 10px;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
       -ms-border-radius: 10px;
       -o-border-radius: 10px;
       overflow: hidden;
       background: url("../assets/landing1.jpg") no-repeat;
       background-size: cover;
       background-position: center;
}

/* About Section Styles */
.about-section{
       padding: 30px 0px 100px 0px;
}
.about-section-content{
        display: grid;
        grid-template-columns: 1.5fr 2.5fr;
        gap: 70px;
}

.about-section-content h4{
         font-size: 25px;
         line-height: 36px;
         margin-bottom: 20px;
}
.about-section-content h4 span{
        color: var(--secondary-color);
}
.about-section-content .about-image{
        height: 500px;
        margin-top: 30px;
}
.about-image img{
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
.about-section-content p{
         font-size: 20px;
         line-height: 35px;
         margin-bottom: 15px;
}
.about-section-content a{
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        background:var(--main-color);
        height: 50px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        color: whitesmoke;
        font-size: 16px;
        margin-top: 30px;
        transition: all 0.7s ease;
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -ms-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
}
.about-section-content a:hover{
       transform: scale(0.95);
       -webkit-transform: scale(0.95);
       -moz-transform: scale(0.95);
       -ms-transform: scale(0.95);
       -o-transform: scale(0.95);
}
.partners-section{
       width: 90%;
       margin: 80px auto 0px auto;
}
.partners-title{
       display: flex;
       gap: 10px;
       align-items: center;
}
.partners-title span{
       display: flex;
       width: 100%;
       height: 1px;
       background: rgba(202, 202, 202, 0.5);
       margin-top: 5px;
}
.partners-title h3{
        font-size: 20px;
        font-weight: 500;
        line-height:20px;
        flex-shrink: 0;
        width: 150px;
}

.partners-section .partner-logos {
        display: flex;
        gap: 30px;
        justify-content: space-between;
       margin-top: 40px;
}
.partner-logos img{
        width: 150px;
        height: 100px;
        object-fit: contain;
}


/* Services Styles */
.services-section{
        padding: 100px 0;
        background: var(--dark-color);
}

.services-intro{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       gap: 30px;
       color: whitesmoke;
       align-items: flex-end;
}
.services-intro h1{
        font-size: 50px;
        margin: 20px 0;
        line-height: 65px;
        font-family: "DM Sans";
        font-weight: 600;
}
.services-intro p{
        font-size: 25px;
        line-height: 32px;
}

.services-content-row{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-top: 50px;
        gap: 40px;
}
.service-moja{
        position: relative;
}
.service-image img{
         border-radius: 10px;
         -webkit-border-radius: 10px;
         -moz-border-radius: 10px;
         -ms-border-radius: 10px;
         -o-border-radius: 10px;
}
.service-moja .service-title{
       position: absolute;
       color: whitesmoke;
       top: 0;
       background: var(--dark-color);
       padding: 10px ;
       border-radius: 0px 0px 10px 0px;
       -webkit-border-radius: 0px 0px 10px 0px;
       -moz-border-radius: 0px 0px 10px 0px;
       -ms-border-radius: 0px 0px 10px 0px;
       -o-border-radius: 0px 0px 10px 0px;
       display: flex;
       align-items: center;
       gap: 10px; 
       width: 80%;
}
.service-title span{
       flex-shrink: 0;
        width: 8px;
        height: 8px;
        background: var(--secondary-color);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
.service-title h4{
        font-weight: 500;
        font-size: 16px;
}
.service-link{
       position: absolute;
       width: 50px;
       height: 50px;
       background: var(--dark-color);
       border-radius: 10px 0px 0px 0px;
       -webkit-border-radius: 10px 0px 0px 0px;
       -moz-border-radius: 10px 0px 0px 0px;
       -ms-border-radius: 10px 0px 0px 0px;
       -o-border-radius: 10px 0px 0px 0px;
       bottom: 0;
       right: 0;
       display: flex;
       align-items: center;
       cursor: pointer;
       justify-content: center;
}
.service-link span{
        color: var(--main-color);
        font-size: 25px;
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
}

.services-section-content .btn-link{
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px auto 0px auto;
        height: 50px;
        background-color: var(--main-color);
        font-size: 15px;
        color: whitesmoke;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        gap: 5px;
}
.services-section-content .btn-link span{
        display: flex;
        margin-top: 2px;
        font-size: 18px
}

.process-section{
       background: var(--dark-color);
       padding-bottom: 100px;
}

.process-intro{
       width: 800px;
       margin: auto;
       text-align: center;
       color: whitesmoke;
}
.process-intro h3{
        font-weight: 400;
}
.process-intro h1{
       font-size: 55px;
       margin: 10px 0;
       font-family: "DM Sans";
}
.process-intro p{
        font-size: 18px;
        line-height: 30px;
}

.process-row{
       display: grid;
       grid-template-columns: repeat(4,1fr);
       margin-top: 70px;
}
.process-moja{
       text-align: center;
       color: whitesmoke;
       padding: 0px 25px;
       position: relative;;
}
.process-moja::before{
       content: '';
       position: absolute;
       top: 50px;
       width: 100%;
        height: 1px;
        border-top: 1px dashed var(--main-color);
        z-index: 2;
}
.process-moja:last-child:before{
      display: none;
}
.process-moja .process-box-image{
        width: 100px;
        position: relative;
        z-index: 5;
        height: 100px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin: 0px auto 20px auto;
        background: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
}
.process-box-image img{
        width: 50%;
        height: 50%
}
.process-moja h3{
        font-size: 24px;
        font-weight: 500;
        margin: 5px auto;
}
.process-moja p{
       line-height: 25px;
}

.portfolio-section{
        padding: 100px 0px;
}

.portfolio-intro h1{
        font-size: 55px;
        font-family: "DM Sans";
        width: 900px;
}

.portfolio-row{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
        margin-top: 30px;
}

.portfolio-moja{
       position: relative;
       height: 450px;
       border-radius: 20px;
       -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
       -ms-border-radius: 20px;
       -o-border-radius: 20px;
       overflow: hidden;
}
.portfolio-moja .overlay{
       position: absolute;
       width: 100%;
       height: 100%;
       background: linear-gradient(transparent, rgba(0,0,0,0.75));
       z-index: 3;
}
.portfolio-moja .portfolio-text{
       position: absolute;
       width: 100%;
       bottom: 0;
       z-index: 9;
}
.portfolio-text h3{
       font-size: 24px;
       color: white;
       padding: 20px;
       font-weight: 400;
}

.nudge-section{
        padding-bottom: 100px;
}
.nudge-section-content{
       background: radial-gradient(circle, rgba(0,0,0,0.5) 0%, transparent 95%), url("../assets/nudgebg.jpg") no-repeat;
       background-size: cover;
       background-position: center;
       padding: 100px 30px;
       text-align: center;
       border-radius: 10px;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
       -ms-border-radius: 10px;
       -o-border-radius: 10px;
}
.nudge-section-content h3{
        color: whitesmoke;
        font-weight: 400;
}
.nudge-section-content h1{
        font-size: 55px;
        font-family: "DM Sans";
        width: 800px;
        color: whitesmoke;
        margin: 20px auto
}
.nudge-section-content a{
        width: 230px;
        height: 50px;
        background: var(--main-color);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        color: whitesmoke;
        font-size: 15px
}

.articles-section{
        padding: 0px 0px 100px 0px;
}
.articles-section-content .articles-intro{
        display: flex;
        gap: 20px;
        align-items: center;
}
.articles-intro h3{
       font-size: 24px;
       flex-shrink: 0;
}
.articles-intro span{
         width: 100%;
         height: 1px;
         background:rgba(196, 213, 205, 0.5);
         margin-top: 3px
}

.articles-row{
       display: grid;
       grid-template-columns: repeat(3,1fr);
       gap: 30px;
       margin-top: 40px;
}
.article-moja .article-image{
        height: 250px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        overflow: hidden;
}
.article-moja h4{
       width: 95%;
       margin: 10px auto;
       font-size: 25px;
       transition: all 0.5s ease;
       -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
       -ms-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
       cursor: pointer;
}
.article-moja p{
       width: 95%;
       margin: 10px auto;
       line-height: 25px;
}
.article-moja:hover h4{
       color: var(--main-color);
}